{% extends "layout.html.twig" %}

{% block content %}
    <div class="container" style="width: 30%;">
        <div style="text-align: center">
            <p class="h1 boldAndShadow">{{ ipAddress }}</p>
            <button id="geoLocation" type="button" class="btn btn-default btn-lg btn-block">Get
                Geolocation
            </button>
        </div>
        <div style="margin-top: 20px;" id="infoTable">
            <table class="table">
                <tr>
                    <th>City</th>
                    <th>Country</th>
                </tr>
                <tr>
                    <td id="city"></td>
                    <td id="country"></td>
                </tr>
            </table>
        </div>
        <p class="h1 boldAndShadow" id="errorMessage">Ip is not valid</p>
    </div>
    <script>
        $(document).ready(function () {
            $('#errorMessage').hide();
            $('#infoTable').hide();
        })
        $('#geoLocation').on('click', function () {
            $('#errorMessage').hide();
            $('#infoTable').hide();
            $.get("{{ url('locationInfo') }}", { ip_address: "{{ ipAddress }}" })
                .done(function (data) {
                    if ( ! data.hasOwnProperty('city')) {
                        console.log('here');
                        $('#errorMessage').show();
                    } else {
                        document.getElementById('city').textContent = data.city
                        document.getElementById('country').textContent = data.country
                        $('#infoTable').show();
                    }
                });
        });
    </script>
{% endblock %}
